<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <enviroment name="Test">             
    <application name="app1">               
      <connectionstring name="sqlDB" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\TEST.mdf;Initial Catalog=TEST;Integrated Security=True" providerName="System.Data.SqlClient"></connectionstring>
      <serviceModel>
        <client>
          <endpoint name="AppService" address="127.0.0.1"></endpoint>
        </client>
      </serviceModel>
    </application>
    <application name="app2" port="8091">               
      <connectionstring name="sqlDB" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\TEST.mdf;Initial Catalog=TEST;Integrated Security=True" providerName="System.Data.SqlClient"></connectionstring>
      <serviceModel>
        <client>
          <endpoint name="AppService" address="127.0.0.2"></endpoint>
        </client>
      </serviceModel>
    </application>
  </enviroment>
  
  <enviroment name="Production">
    <application name="app1">
      <connectionstring name="sqlDB" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\PROD.mdf;Initial Catalog=PROD;Integrated Security=True" providerName="System.Data.SqlClient"></connectionstring>
      <serviceModel>
        <client>
          <endpoint name="AppService" address="201.100.100.100"></endpoint>
        </client>
      </serviceModel>
    </application>
    <application name="app2" port="8092">               
    </application>
  </enviroment>
</configuration>

<!--

  ConfigMaster master = new ConfigMaster("enviroment[Production].application[app1]");
  var setting = master.GetKey<ConnectionStringSetting>("connectionstring[sqlDB]");
  
  var actualDBConnectionString = setting.connectionString;
  var actualDBProvider = setting.providerName;


 
-->