<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="logFile1" xsi:type="File" layout="${longdate} ${callsite} ${level} ${message} ${exception:format=tostring}" fileName="nsteam.ConfigServer.log" keepFileOpen="false" />
    <target name="console" xsi:type="ColoredConsole"  layout="${longdate} ${callsite:className=false:fileName=false:includeSourcePath=false:methodName=true} ${message}"/>
  </targets>
  <targets>
    <default-wrapper xsi:type="BufferingWrapper" bufferSize="100"/>
    <target name="logFile1" xsi:type="File" layout="${longdate} ${callsite} ${level} ${message} ${exception:format=tostring}" fileName="nsteam.ConfigServer.log" keepFileOpen="false" />
  </targets>
  <targets>
    <default-wrapper xsi:type="AsyncWrapper">
      <wrapper-target xsi:type="RetryingWrapper"/>
    </default-wrapper>
    <target name="logserver" xsi:type="Network" address="tcp://localhost:4001"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile1" />
    <logger name="nsteam.ConfigServer.Types.*" minlevel="Info" writeTo="console" />
  </rules>
</nlog>