<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="servers" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  
  <servers>
    <add key="localhost" value="http://localhost:9000/"></add>
    <add key="production" value="http://localhost:9000/"></add>
    <add key="test" value="http://localhost:9000/"></add>
  </servers>

</configuration>